/* Generics */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #000;
    overflow-y: hidden;
}

.fullpage-container{
    height: 100vh;
}

/* Utils */

a {
    text-decoration: none;
    color: white;
}


/* Header */

.header-main{
    min-height: 80px;
    width: 100%;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.settings-head{
    text-align: right;
}

.settings-head a{
    background-color: #4A4A4A;
    padding: 10px 10px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-left: 10px;
}

.settings-head a:hover{
    background-color: rgba(138, 133, 133, 0.6);
}

/* Main  */

main{
    overflow-y: scroll;
    max-height: 80vh;
}

.flex-container{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.partecipant{
    border: 1px solid black;
    height: 150px;
    flex-basis: 250px;
    position: relative;
    background-image: url(https://i.picsum.photos/id/1057/6016/4016.jpg?hmac=RjPyzbGq_MxSbghhfa1iVykXTskk9IISuzavny11_lI);  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px rgba(107, 96, 96, 0.5);
    margin: 10px 0;
}

.partecipant a{
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 10px;
}


/* Interactions */

.interactions{
    background-color: #222222;
    max-height: 20vh;
    margin-top: 20px;
    
}

.interactions nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    flex-basis: 100px;
}

.interactions i{
    font-size: 2em;
}

.left-nav, .middle-nav, .right-nav{
    display: flex;
    padding: 20px;
}

.left-nav a, .middle-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    transition: 0.2s linear;
}

.middle-nav .fa-share-square{
    color: #3AC800;
}

.left-nav a:hover, .middle-nav a:hover{
    color: #3AC800;
}

.fa-chevron-up.small-content{
    font-size: 1em;
    line-height: 80px;
}

.right-nav{
    align-items: center;
    background-color: #666;
}

.right-nav a{
    transition: 0.2s linear;
}

.right-nav a:hover{
    color: red;
}